<!-- Body -->
<section class="container">
  <div class="centrar">
    <div class="formulario">
      <h1>Registrate</h1>
      <form [formGroup]="form" method="post" class="form-register">
        <div class="username">
          <input
            [(ngModel)]="register.name"
            type="text"
            placeholder="Nombre/s"
            id="name"
            formControlName="name"
            required
          />
          <div
            *ngIf="name?.invalid && (name?.dirty || name?.touched)"
            class="text-danger">
            <div *ngIf="name?.errors?.['required']">
              Nombre es requerido.
            </div>
          
            <div *ngIf="name?.errors?.['minlength']">
              Longitud minima de 3 caracteres.
            </div>

            <div *ngIf="name?.errors?.['pattern']">
              Nombre no puede contener caracteres invalidos.
            </div>

</div>
        </div>

        <div class="username">
          <input
            [(ngModel)]="register.lastname"
            type="text"
            placeholder="Apellido/s"
            id="lastname"
            formControlName="lastname"
            required
          />
          <div
            *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)"
            class="text-danger">
            <div *ngIf="lastname?.errors?.['required']">
             Apellido es requerido
            </div>
          
            <div *ngIf="lastname?.errors?.['minlength']">
              Longitud minima de 3 caracteres
            </div>

            <div *ngIf="lastname?.errors?.['pattern']">
              Apellido no puede contener caracteres invalidos.
            </div>

</div>
        </div>

        <!-- <div class="username">
          <input required formControlName="nombre" type="text" placeholder="Nombre" id="name" /> -->
        <!-- <label>Nombre de usuario</label> -->
        <!-- </div> -->

        <!-- <div class="username">
          <input formControlName="apellido" type="text" placeholder="Apellido" id="lastName" required />
        </div> -->

        <div class="username">
          <input
            [(ngModel)]="register.email"
            formControlName="email"
            type="email"
            placeholder="Email"
            id="email"
            required
          />
          <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="text-danger">
            <div *ngIf="email?.errors?.['required']">
              Email es requerido
            </div>
          
            <div *ngIf="email?.errors?.['email']">
              Ingresa un email con formato valido
            </div>

</div>
        </div>
        <!-- 
        <div class="username">
          <input formControlName="dni" type="text" placeholder="DNI" id="identification" />
        </div>

        <div class="username">
          <input formControlName="domicilio" type="text" placeholder="Domicilio" id="address" />
        </div>

        <div class="username">
          <input formControlName="telefono" type="text" placeholder="Telefono" id="phone" />
        </div> -->

        <div class="username">
          <input
            [(ngModel)]="register.password"
            formControlName="password"
            type="password"
            placeholder="Contraseña"
            id="password"
            required
            
          />
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="text-danger">
            <div *ngIf="password?.errors?.['required']">
              Password es requerido
            </div>
          
            <div *ngIf="password?.errors?.['minlength']">
              Password es muy corto
            </div>

</div>
        </div>

        <!-- <div class="username">
          <input
            type="password"
            placeholder="Repeti Contraseña"
            id="password2"
            formControlName="password2"
            required
          />
        </div> -->

        <!-- <div *ngIf="username?.hasError && username?.touched || password?.hasError && password?.touched || password2?.hasError && password2?.touched || email?.hasError && email?.touched || telefono?.hasError && telefono?.touched || domicilio?.hasError && domicilio?.touched || dni?.hasError && dni?.touched || nombre?.hasError && nombre?.touched || apellido?.hasError && apellido?.touched">

          <p *ngIf="username?.hasError('required') || password?.hasError('required') || password2?.hasError('required') || email?.hasError('required') || telefono?.hasError('required') || domicilio?.hasError('required') || dni?.hasError('required') || nombre?.hasError('required') || apellido?.hasError('required')" class="text-danger">Todos los campos son obligatorios</p>
        </div> -->

        <div
          *ngIf="
            (name?.hasError && name?.touched) ||
            (lastname?.hasError && lastname?.touched) ||
            (password?.hasError && password?.touched) ||
            (email?.hasError && email?.touched)
          "
        >
          <p
            *ngIf="
              name?.hasError('required') ||
              lastname?.hasError('required') ||
              password?.hasError('required') ||
              email?.hasError('required')
            "
            class="text-danger"
          >
            Todos los campos son obligatorios
          </p>
        </div>

        <!-- <a href="./home banking.html"> -->
        <input
          type="button"
          value="Registrarme"
          class="boton-inicio"
          id="btnRegister"
          (click)="Registrar()"
        />
        <!-- </a> -->

        <div class="registrarse">
          Soy un usuario, quiero
          <a routerLink="/login">ingresar</a>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End Body -->

<!-- JS de register -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="module" src="../js/register.js"></script>
