<!-- Tabla de Personas -->
<div class="container">
  <div class="row">
    <div class="col-md-12 table-responsive">
      <h3 class="text-center m-5">Personas</h3>
      <table class="table table-dark table-hover table-striped align-middle">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Id -> Tipo Documento</th>
            <th>Nro Doc</th>
            <th>Id -> Localidad</th>
            <th>Nro calle</th>
            <th>Calle</th>
            <th>Fecha nacimiento</th>
            <th>Id -> Sexo</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody class="table-group-divider">
          <tr *ngFor="let persona of personasGral | async">
            <td>{{ persona.id_persona }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido }}</td>
            <td>
              {{ persona.id_tipo_doc.id_tipo_doc }} ->
              {{ persona.id_tipo_doc.tipo_doc }}
            </td>
            <td>{{ persona.nro_doc }}</td>
            <td>
              {{ persona.cod_loc.cod_localidad }} ->
              {{ persona.cod_loc.localidad }}
            </td>
            <td>{{ persona.nro_calle }}</td>
            <td>{{ persona.calle }}</td>
            <td>{{ persona.fecha_nac }}</td>
            <td>
              {{ persona.id_tipo_sexo.id_tipo_sexo }} ->
              {{ persona.id_tipo_sexo.tipo }}
            </td>
            <td>
              <!-- <button
                class="btn btn-primary"
                (click)="editarButton(persona.id_persona, persona)"
              >
                Editar
              </button> -->
              <button
                class="btn btn-danger"
                (click)="eliminarButton(persona.id_persona)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Crear Persona -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h3 class="text-center m-5">Crear Personas</h3>
      <!-- Agrega los elementos de entrada para los datos de la nueva persona -->
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.id_persona"
        placeholder="id | Necesario para Editar"
      />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.nombre"
        placeholder="Nombre"
      />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.apellido"
        placeholder="Apellido"
      />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.id_tipo_doc"
        placeholder="id_tipo_doc"
      />
      <input class="p-2 m-1" 
        type="text"
        [(ngModel)]="nuevaPersona.nro_doc"
        placeholder="nro_doc"
      />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.cod_loc"
        placeholder="cod_loc"
      />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.nro_calle"
        placeholder="nro_calle"
      />
      <input class="p-2 m-1" type="text" [(ngModel)]="nuevaPersona.calle" placeholder="calle" />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.fecha_nac"
        placeholder="fechaNac (AAAA-MM-DD)"
      />
      <input class="p-2 m-1"
        type="text"
        [(ngModel)]="nuevaPersona.id_tipo_sexo"
        placeholder="id_tipo_sexo"
      />
      <!-- Agrega más campos según tus necesidades -->

  
      <!-- Agrega un botón para agregar la persona -->
      <button class="btn btn-danger p-2 m-1" (click)="crearButton(nuevaPersona)">
        Agregar Persona
      </button>
      
      <button
        class="btn btn-primary p-2 m-1"
        (click)="editarButton(nuevaPersona.id_persona, nuevaPersona)"
      >
        Editar
      </button>
    </div>
  </div>
</div>
