<!-- Tabla de Plazo Fijo -->
<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Plazo Fijo</h3>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>ID Cuenta</th>
            <th>CBU</th>
            <th>Moneda</th>
            <th>Monto</th>
            <th>Fecha Inicio</th>
            <th>Fecha Vencimiento</th>
            <th>Interes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plazo of plazo_fijo_gral | async">
            <td>{{ plazo.id_plazo_fijo }}</td>
            <td>
              {{ plazo.id_cuenta.id_cuenta }} -> {{ plazo.id_cuenta.alias }}
            </td>
            <td>{{ plazo.id_cuenta.cbu }}</td>
            <td>
              {{ plazo.id_tipo_moneda.id_tipo_moneda }} ->
              {{ plazo.id_tipo_moneda.tipo_moneda }}
            </td>
            <td>${{ plazo.monto }}</td>
            <td>{{ plazo.fecha_inicio }}</td>
            <td>{{ plazo.fecha_vencimiento }}</td>
            <td>{{ plazo.interes }}%</td>
            <td>
              <!-- <button
                  class="btn btn-primary"
                  (click)="editarButton(persona.id_persona, persona)"
                >
                  Editar
                </button> -->
              <a
                class="btn btn-danger"
                (click)="eliminarButton(plazo.id_plazo_fijo)"
              >
                Eliminar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  

  <div class="container">
    <br>
    <br>
    <h4 class="text-center">Simular Plazo Fijo</h4>
    <div class="col align-self-center" id="contenedor_campos">
      
      
      <!-- Agrega los elementos de entrada para los datos del nuevo plazo fijo -->
      <input style="max-width: 100px;"
        type="text"
        [(ngModel)]="nuevoPlazo.id_plazo_fijo"
        placeholder="ID"
      />
      <input
        type="text"
        [(ngModel)]="nuevoPlazo.id_cuenta"
        placeholder="ID Cuenta"
      />
      <input
        type="text"
        [(ngModel)]="nuevoPlazo.id_tipo_moneda"
        placeholder="Tipo Moneda"
      />
      <input type="text" [(ngModel)]="nuevoPlazo.monto" placeholder="Monto" />
      <input
        type="text"
        [(ngModel)]="nuevoPlazo.fecha_inicio"
        placeholder="Inicio (AAAA-MM-DD)"
      />
      <input
        type="text"
        [(ngModel)]="nuevoPlazo.fecha_vencimiento"
        placeholder="Fin (AAAA-MM-DD)"
      />
      <input
        type="text"
        [(ngModel)]="nuevoPlazo.interes"
        placeholder="Interes"
      />

     
    </div>
      
    <div class="botones">
      <button class="btn btn-secondary" (click)="editarButton(nuevoPlazo.id_plazo_fijo, nuevoPlazo)">
        Editar
      </button>

        <!-- Agrega un botón para agregar la persona -->

      <button class="btn btn-dark" (click)="crearButton(nuevoPlazo)">
        Agregar Plazo Fijo
      </button>    
    </div>

  </div>

</div>

<br>
<hr class="featurette-divider" >
<br>
