<!-- SubHeader -->
<div
  class="subheader"
  style="
    background: url(../../../assets/img/SubHeader\ -\ 1.webp) no-repeat center
      center/cover;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 subheader-text">
        <h1 class="tituloHome">BankArg</h1>
        <p class="subtituloHome">Tu banco por excelencia</p>
        <div class="subheader-ingresar">
          <h5>Conoce nuestros beneficios e ingresa ya mismo para obtenerlos</h5>
          <a routerLink="/login" class="btn btn-primary">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End SubHeader -->

<!-- Body -->
<main class="main-home">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row sub-details">
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg> -->
        <img
          src="./assets/img/sobre nos claro.png"
          alt="Sobre Nosotros"
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
        />

        <h2 class="fw-normal">Sobre Nosotros</h2>
        <p>
          Nos hemos dedicado a brindar un servicio de calidad, basado en la
          confiabilidad y la seguridad.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/sobre"
            >Ver Mas <i class="fa fa-angle-double-right"></i
          ></a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg> -->
        <img
          src="./assets/img/products claro.png"
          alt="Productos"
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
        />

        <h2 class="fw-normal">Nuestros Productos</h2>
        <p>
          Nuestros productos ofrecen opciones para satisfacer las necesidades
          financieras de nuestros clientes.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/productos"
            >Ver Mas <i class="fa fa-angle-double-right"></i
          ></a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg> -->
        <img
          src="./assets/img/transfer claro.png"
          alt="Transferencias"
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
        />

        <h2 class="fw-normal">Home Banking</h2>
        <p>
          Nuestro enfoque profesional garantiza que los pagos sean faciles y
          convenientes, segun las circunstancias.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/transferencias"
            >Ver Mas <i class="fa fa-angle-double-right"></i
          ></a>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <a routerLink="/register" style="text-decoration: none; color: #2c3333">
          <h2 class="featurette-heading fw-normal lh-1">
            Crea una cuenta.
            <span class="text-muted">Es gratis</span>
          </h2></a
        >
        <p class="lead">
          Podes tener una cuenta gratis para hacer depositos y transferencias,
          tambien podes solicitar una tarjeta de debito para simplificar tus
          compras. Sin costo de apertura ni mantenimiento mensual.
        </p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg> -->
        <img
          src="./assets/img/Sacando de Caja fuerte claro.png"
          alt="Transferencias"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Transferi a cualquier cuenta.
          <span class="text-muted">Desde cualquier lugar.</span>
        </h2>
        <p class="lead">
          La forma mas sencilla es ingresando a Home banking desde tu
          computadora o tu teléfono en cualquier momento del dia
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg> -->
        <img
          src="./assets/img/transferir claro.png"
          alt="Transferencias"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Con nosotros vas a progresar
          <span class="text-muted">como nunca antes.</span>
        </h2>
        <p class="lead">
          No importa cual sea tu objetivo, con nosotros encontraras las
          herramientas necesarias para alcanzarlo. Confía en nuestro compromiso
          de ayudarte a avanzar en tu camino hacia el exito financiero.
        </p>
      </div>
      <div class="col-md-5">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg> -->
        <img
          src="./assets/img/Progresar como nunca claro.png"
          alt="Transferencias"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->

    <!-- Hanging Icons -->

    <div class="container px-4 py-5" id="hanging-icons">
      <!-- <h2 class="pb-2 border-bottom">Hanging icons</h2> -->
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
          >
            <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg> -->
            <i class="fas fa-university"></i>
          </div>
          <div>
            <a
              routerLink="/perfil"
              style="text-decoration: none; color: #2c3333"
            >
              <h3 class="fs-2">Tu Perfil</h3>
              <p>
                Ingresa a tu perfil y podras modificar tus datos. Puedes
                realizar el cambio de tu nombre de usuario y datos personales.
              </p></a
            >
            <!-- <a routerLink="/perfil" class="btn btn-primary"> Perfil </a> -->
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
          >
            <i class="fas fa-money-bill-wave"></i>
          </div>
          <div>
            <a
              routerLink="/prestamos"
              style="text-decoration: none; color: #2c3333"
            >
              <h3 class="fs-2">Prestamos</h3>
              <p>
                Realiza tu prestamo hoy en nuestro sitio web. Escoge el monto y
                las cuotas. Soluciona tus problemas financieros hoy mismo y en
                pocos pasos.
              </p>
            </a>
            <!-- <a routerLink="/prestamos" class="btn btn-primary"> Prestamos </a> -->
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
          >
            <i class="fas fa-tools"></i>
          </div>
          <div>
            <a
              routerLink="/soporte"
              style="text-decoration: none; color: #2c3333"
            >
              <h3 class="fs-2">Soporte las 24hs</h3>
              <p>
                Accede, consulta y opera tus productos las 24 hs, comunicandote
                con nuestro servicio de atencion al cliente. Recuerda que
                estamos siempre de tu lado, no dudes en contactarnos, te
                escuchamos!.
              </p></a
            >
            <!-- <a routerLink="/soporte" class="btn btn-primary"> soporte </a> -->
          </div>
        </div>
      </div>
    </div>

    <!-- End Hanging Icons -->

    <!-- <hr class="featurette-divider" /> -->

    <!-- Features with title -->

    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom"></h2>

      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
          <h3>Registrate con nosotros</h3>
          <br />
          <p>
            Si aun no eres cliente, que estas esperando, accede a nuestro banco
            y puedes comenzar a obtener muchas ventajas con nuestros beneficios
          </p>

          <a routerLink="/register" class="btn btn-primary"
            >Quiero ser cliente</a
          >
          <hr />
        </div>

        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <a routerLink="/pagos" style="color: whitesmoke"
                ><i class="fas fa-credit-card"></i
              ></a>
            </div>
            <h4 class="fw-semibold mb-0">Pagos</h4>
            <p class="text-muted">Brindamos soluciones confiables y seguras</p>
          </div>

          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <a routerLink="/soporte" style="color: whitesmoke">
                <i class="fas fa-cog"></i
              ></a>
            </div>
            <h4 class="fw-semibold mb-0">Centro de Ayuda</h4>
            <p class="text-muted">
              Si tienes alguna duda o necesitas ayuda contactanos
            </p>
          </div>

          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <a routerLink="/plazoFijo" style="color: whitesmoke"
                ><i class="fa fa-line-chart"></i
              ></a>
            </div>
            <h4 class="fw-semibold mb-0">Plazos Fijos</h4>
            <p class="text-muted">
              Potencia tus ahorros a la tasa mas conveniente, Simula tu
              Inversion Aca!
            </p>
          </div>

          <div class="d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <a routerLink="/productos" style="color: whitesmoke">
                <i class="fas fa-table"></i
              ></a>
            </div>
            <h4 class="fw-semibold mb-0">Productos</h4>
            <p class="text-muted">
              Accede a tus ahorros y realiza transferencias al instante con
              nuestro servicio
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- End Features with title -->
  </div>
</main>
<!-- End Body -->
