<!-- Footer -->
<footer>
  <div class="footer-content" style="padding-top: 2%;">
    <h3 style="text-shadow: 10px;">BankArg</h3>
    <p class="text-muted">
      Empresa de servicios financieros que ofrece una amplia gama
      de productos y servicios financieros para sus clientes.
    </p>
    <br>
    <button type="button" class="btn btn-outline-dark" >CONOCE NUESTRA APP <i class="fa fa-code"></i></button>
    <hr class="featurette-divider">
    <div class="icons">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-github"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
    </div>
    <hr>
  </div>
  
  <div class="footer-bottom">&copy; BankArg | Designed by BankArg</div>
</footer>
<!-- End Footer -->
