
<main class="main">

  <h1 id="soporte">Soporte</h1>

  <p id="faq_pregunt">FAQ (Preguntas Frecuentes)</p>

  <p id="describe_tu">Describe tu consulta:</p>

  <textarea id="tu_consulta" rows="4" cols="50"></textarea>

  <button id="Enviar" (click)="functionEnviar()">Enviar</button>

  <button id="seleccionar_fecha" (click)="funcionNoActiva()">Seleccionar fecha:</button>

  <button id="Solicitar_turno" (click)="funcionNoActiva()">Solicitar turno</button>
</main>

<!-- JS de Soporte -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/soporte.js"></script>
