<main class="main">
  <h1 id="soporte">Soporte</h1>

  <p id="faq_pregunt">FAQ (Preguntas Frecuentes)</p>
  <!-- FAQ START -->
  <div class="accordion container" id="accordionFAQ">

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#whoBankArg" aria-expanded="false" aria-controls="collapseOne">
          ¿Que es BankArg?
        </button>
      </h2>
      <div id="whoBankArg" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <!--Accordion ¿Que es BankArg? START-->
          <div class="accordion" id="accordionBankArgWho">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#who1" aria-expanded="false" aria-controls="who1">
                  BankArg
                </button>
              </h2>
              <div id="who1" class="accordion-collapse collapse" data-bs-parent="#accordionBankArgWho">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#who2" aria-expanded="false" aria-controls="who2">
                  El Equipo 
                </button>
              </h2>
              <div id="who2" class="accordion-collapse collapse" data-bs-parent="#accordionBankArgWho">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
          <!--Accordion ¿Que es BankArg? END-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BankArgHow" aria-expanded="false" aria-controls="BankArgHow">
          ¿Como se usa BankArg?
        </button>
      </h2>
      <div id="BankArgHow" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <!--Como se usa BankArg START-->
          <div class="accordion" id="accordionBankArgHow">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#how1" aria-expanded="false" aria-controls="how1">
                  Creando una cuenta
                </button>
              </h2>
              <div id="how1" class="accordion-collapse collapse" data-bs-parent="#accordionBankArgHow">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#how2" aria-expanded="false" aria-controls="how2">
                  Conceptos Basicos 
                </button>
              </h2>
              <div id="how2" class="accordion-collapse collapse" data-bs-parent="#accordionBankArgHow">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
          <!--Como se usa BankArg END-->
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Otras Preguntas
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
  
  <!-- FAQ END -->

  <p id="describe_tu">Describe tu consulta:</p>

  <textarea id="tu_consulta" rows="4" cols="50"></textarea>

  <button id="Enviar" (click)="functionEnviar()">Enviar</button>

  <button id="seleccionar_fecha" (click)="funcionNoActiva()">
    Seleccionar fecha:
  </button>

  <button id="Solicitar_turno" (click)="funcionNoActiva()">
    Solicitar turno
  </button>
</main>

<!-- JS de Soporte -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/soporte.js"></script>
